.home{
  width: 100vw;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  .navbar{
    width: 100%;
    height: 10%;
    background-color: #2a80b9;
    .navbar-items{
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .menu-item{
        width: 40px;
        height: 40px;
        margin-left: 2%;
        cursor: pointer;
      }
      .title-item{
        font-size: 30px;
        color: #fff;
        font-family: 'Pacifico', cursive;
      }
      .profil-item{
        margin-right: 2%;
        color: #fff;
        display: flex;
        align-items: center;
        .profil-img{
          width: 40px;
          height: 40px;
          line-height: 40px;
          text-align: center;
          border-radius: 50%;
          margin-left: 5px;
          font-weight: bold;
          background-color: #1bbc9b;
          cursor: pointer;
        }
      }
    }
  }
  .content{
    width: 100%;
    height: 90%;
    display: flex;
    .sidebar{
      width: 7%;
      height: 100%;
      display: flex;
      flex-direction: column;
      background-color: #fff;
      .side-menu{
        width: 100%;
        height: 80px;
        margin-bottom: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        p{
          display: none;
        }
        &:hover{
          background-color: #67b0e0;
          .svg{
            fill: #fff;
            margin-bottom: 5px;
          }
          p{
            display: block;
            color: #fff;
          }
        }
      }
      .mycart{
        display: none;
      }
    }
    .category{
      width: 5%;
      height: 100%;
      transition: .5s;
      background-color: #f2f2f2;
      .category-menu{
        width: 100%;
        height: 280px;
        margin-top: 30px;
        border-radius: 3px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        background-color: #2a80b9;
        .category-item{
          width: 90%;
          height: 80px;
          margin-top: 10px;
          font-size: 12px;
          border-radius: 3px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          background-color: #fff;
          .img-category{
            width: 90%;
            height: 50px;
            border: 1px solid #c5c5c5;
            border-radius: 3px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
    .hide{
      width: 0;
      height: 0;
      .category-menu{
        display: none;
      }
    }
    .content-menu{
      width: 57%;
      height: 100%;
      background-color: #f2f2f2;
      display: flex;
      flex-direction: column;
      transition: .5s;
      .list-menu{
        width: 100%;
        height: 100%;
        margin-top: 5px;
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
        overflow-y: scroll;
        .item{
          width: 240px;
          height: 240px;
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.116);
          margin-left: 15px;
          margin-top: 5px;
          margin-bottom: 5px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          background-color: #f4f6fa;
          cursor: pointer;
          .menu-img{
            width:100%;
            height: 160px;
            img{
              width: 240px;
              height: 170px;
            }
          }
          .menu-price{
            width: 100%;
            height: 25px;
            color: #fff;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin-top: -20px;
            p{
              width: 90px;
              padding: 5px 5px;
              margin-right: 8px;
              display: flex;
              justify-content: center;
              align-items: center;
              background-color: #2a80b9;
            }
          }
          .menu-name{
            width: 100%;
            height: 35px;
            display: flex;
            align-items: center;
            margin-left: 10px;
            p{
              margin-left: 5px;
              font-weight: bold;
            }
          }
          .category-menu{
            width: 100%;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            p{
              font-weight: bold;
            }
          }
          .review{
            width: 100%;
            height: 35px;
            display: flex;
            justify-content: center;
            align-items: center;
            .fa-eye{
              margin-left: 10px;
              margin-right: 30px;
              font-size: 15px;
              color: #c5c5c5;
            }
            .fa-star{
              color: gold;
            }
          }
        }
        .check{
          box-sizing: border-box;
          border: 5px solid blue;
        }
      }
      .pagination{
        width: 35%;
        height: 6%;
        margin-bottom: 10px;
        margin-left: 32%;
        // border: 1px solid #ccc;
        border-radius: 3px;
        .page-items{
          display: flex;
          align-items: center;
          .page{
            width: 100%;
            height: 100%;
            line-height: 30px;
            display: inline-block;
            .link{
              width: 100%;
              height: 30px;
              font-weight: bold;
              color: #67b0e0;
              display: inline-block;
              outline: none;
              border: 1px solid #67b0e0;
              background-color: #fff;
              cursor: pointer;
              &:hover{
                background-color: #67b0e0;
                color: #fff;
              }
            }
          }
        }
      }
    }
    .show{
      width: 62%;
      .list-menu{
        .item{
          margin-left: 30px;
        }
      }
    }
    .cart{
      width: 31%;
      height: 100%;
      display: flex;
      flex-direction: column;
      background-color: #fff;
      .notif{
        width: 100%;
        height: 10%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: #fff;
        background-color: #67b0e0;
        .notif-items{
          position: relative;
          .svg{
            fill: #fff;
          }
          span{
            width: 20px;
            height: 20px;
            display: inline-block;
            line-height: 20px;
            text-align: center;
            font-weight: bold;
            font-size: 16px;
            border-radius: 50%;
            position: absolute;
            top: 5px;
            left: 17px;
            border: 1px solid #fff;
            color: #fff;
            background-color: red;
          }
        }
      }
      .cart-items{
        width: 100%;
        height: 65%;
        display: flex;
        flex-direction: column;
        .cart-item{
          width: 100%;
          height: 23%;
          margin-bottom: 10px;
          display: flex;
          justify-content: center;
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.116);
          .img-item{
            width: 25%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          .info-item{
            width: 42%;
            height: 100%;
            margin-left: 5px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .title-item{
              width: 100%;
              height: 50%;
              font-size: 15px;
              font-weight: bold;
            }
            .qty-item{
              width: 100%;
              height: 50%;
              display: flex;
              justify-content: flex-start;
              button{
                width: 45px;
                height: 35px;
                font-size: 25px;
                font-weight: bold;
                border: 1px solid #ccc;
                outline: #67b0e0;
                cursor: pointer;
              }
              .decrement{
                color: #fff;
                background-color: #ef1b23;
              }
              .increment{
                color: #fff;
                background-color: #31b155;
              }
              input{
                width: 39px;
                height: 29px;
                font-size: 20px;
                text-align: center;
                outline: none;
              }
            }
          }
          .price-item{
            width: 23%;
            height: 100%;
            display: flex;
            align-items: center;
            p{
              width: 100%;
              height: 100%;
              display: flex;
              align-items: center;
              font-size: 14px;
              font-weight: bold;
            }
          }
        }
        .empty-cart{
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          h2{
            font-size: 20px;
            color: #c5c5c5;
          }
        }
      }
      .payment{
        width: 100%;
        height: 25%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #2a80b9;
        .payment-info{
          width: 100%;
          height: 65%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          .payment-total{
            width: 90%;
            height: 33%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 20px;
            color: #fff;
          }
        }
        .payment-aksi{
          width: 90%;
          height: 35%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .btn-cancel{
            width: 30%;
            height: 70%;
            font-size: 17px;
            border: 1px solid #fff;
            outline: #2a80b9;
            color: #fff;
            background-color: #2a80b9;
            cursor: pointer;
          }
          .btn-payment{
            width: 50%;
            height: 70%;
            font-size: 17px;
            border: 1px solid #fff;
            outline: #2a80b9;
            color: #fff;
            background-color: #2a80b9;
            cursor: pointer;
          }
        }
      }
    }
  }
}